<title>HALAMAN UTAMA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
<style>
table.no-sort th:before{content:'' !important}
table.no-sort th:after{content:'' !important}
table.font-12 th{font-size:12px !important}
table.font-12 td{font-size:12px !important}
</style>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h1>Daftar IP ADDRESS</h1>
                <table class="table table-striped dt-responsive nowrap no-sort font-12" width=100%>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Interface</th>
                            <th>Address</th>
                            <th>Network</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for d in data%}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.interface}}</td>
                            <td>{{d.address}}</td>
                            <td>{{d.network}}</td>
                            <td>{{d.comment}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/app.min.js"></script>
<script type="text/javascript" src="assets/js/pdfmake.min.js"></script>
<script type="text/javascript" src="assets/js/vfs_fonts.js"></script>
<script type="text/javascript" src="assets/js/datatables.min.js"></script>
<script>
    $(function(){
        $.extend( $.fn.dataTable.defaults, {
            responsive: true,
            lengthChange:!1,
            language:{
                search: '',
                emptyTable: 'Tidak ada data',
                info: '_START_ / _END_ of _TOTAL_',
                paginate:{
                    previous:"<i class='mdi mdi-chevron-left'>",
                    next:"<i class='mdi mdi-chevron-right'>"
                }
            },
            drawCallback:function(){
                $('.dataTables_info').addClass('float-left mt-1 font-12')
                $(".dataTables_filter, .dataTables_paginate").addClass('float-right font-12')
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
            }
        });
        $('.table').DataTable({
            dom: 'Bfrtip',
        });
    })
</script>